.header {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../images/headerBg.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding-top: 8%;

    .qualitiesDiv {
        color: white;
        font-size: 3vw;
        font-family: Arial Black (sans-serif);
    }

    .qualitiesContent {
        margin-bottom: 10px;
    }

    .aboutMeShortly {
        .name {
            font-size: 5vw;
            margin-bottom: 5px;
        }

        .profession {
            font-size: 2.5vw;
            font-family: italic;
            color: lightgray;
        }
    }


}

@media only screen and (min-width: 1025px) {
    /* Laptop and desktop */
    .header {
        width: 90vw;
        float: right;
        h1,
        h2,
        h3 {
            cursor: pointer;

            &:hover {
                color: rgb(53, 106, 204);
            }
        }
    }

}


@media only screen and (max-width: 769px) {
    /* Mobile and tablet */
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        .aboutMeShortly {
            text-align: center;
            .name {
                font-size: 10vw;
            }
    
            .profession {
                font-size: 5vw;
            }
        }
        .qualitiesDiv {
            margin-top: 60px;
            font-size: 5vw;

            &:hover {
                color: white;
            }
        }
    }

}