.about {
    background-color: #6E07F3;
    padding: 75px 5% 50px 5%;
    margin: 0;
    color: white;
    text-align: center;

    .content {
        max-width: 800px;
        margin: 40px auto 0 auto;
        font-size: 1.1rem;
        transition: 0.4s;
        transform: translateY(100);
        text-wrap: wrap;
        line-height: 1.5;
        font-family: sans-serif;
    }

    .skills {
        margin-top: 25px;
        text-align: center;

        .skillsSection {
            justify-content: center;
            display: grid;
            margin: 25px auto 0 auto;

            span {
                padding: 10px 15px;
                background-color: #5BE9B9;
                color: black;
                border-radius: 5px;
                margin: 5px 5px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .header {
        transition: 0.4s;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }

    .skills {
        .skillsSection {
            grid-template-columns: 10% 10% 10%;

            span {
                transition: 0.6s;
                cursor: pointer;
                &:hover {
                    background-color: #67a7db;
                }
            }
        }
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .skills {
        .skillsSection {
            grid-template-columns: 15% 15% 15%;

            span {
                transition: 0.6s;
                cursor: pointer;
                &:hover {
                    background-color: #94c6f0;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .skills {

        .skillsSection {
            grid-template-columns: 30% 30% 30%;
        }
    }
}