.main {
  background-color: #6e07f3;
  padding: 50px 5% 30px 5%;
  color: white;
  text-align: center;
  .link {
    margin: 0px 20px;
  }
  .footer {
    color: rgb(194, 192, 192);
  }
  .content {
    color: rgb(194, 192, 192);
    font-size: 1.2rem;
  }
  .contacts {
    padding: 30px 0;
  }
  .link,
  svg,
  path {
    cursor: url("../../assets/images/pointer.svg"), auto;
  }
}

.svgCurve {
  display: block;
  margin: 0;
}

@media (max-width: 350px) {
  .main {
    padding: 50px 0;
    .link {
      margin: 0 10px;
    }
  }
}
