.main {
    background-color: #6E07F3;
    padding: 50px 5%;
    margin: 0;
    color: white;
    text-align: center;
    .link {
        margin: 0px 20px
    }
    .footer {
        margin-top: 35px;
        color: rgb(194, 192, 192);
    }
}
