.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;

    .logo {
        width: 50px;
        cursor: pointer;
    }

    .link {
        font-weight: 500;
        cursor: pointer;
        transition: transform 0.3s;
        padding: 5px 10px;
    }

    .active {
        font-weight: 700;
        cursor: pointer;
        color: #6E07F3;
    }
}

@media (min-width: 800px) {
    .link {
        &:hover {
            color: #6E07F3;
            font-weight: bolder;
            transform: scale(1.2);
        }
    }
}