@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main {
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 1);
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 0 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
  font-family: poppins;
}

.list {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
  padding: 10px 0;
}

.link,
.name {
  margin: 0 20px;
  font-weight: 500;
  cursor: url("./../../assets/images/pointer.svg"), auto;
  transition-duration: 0.4s;
  &:hover {
    transform: scale(1.1);
    color: #6e07f3;
  }
}

@media (max-width: 800px) {
  .main {
    display: none;
  }
}
