.main {
  text-align: center;
  padding: 50px 5% 20px 5%;

  .worksHeader {
    padding-bottom: 30px;
    font-size: 2.2rem;
  }

  .line {
    border-bottom: 1.5px solid rgba(80, 80, 80, 0.2);
    border-radius: 50%;
    margin: 0 auto;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px auto;
    justify-content: space-around;
    align-items: center;

    .text {
      margin: 20px 0;
    }
  }

  .flex,
  .flexLink {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flexLink {
    margin: 0px auto;
    width: fit-content;
    text-decoration: none;
    color: black;
    cursor: url("../../assets/images/pointer.svg"), auto;
    h3, svg, path {
      cursor: url("../../assets/images/pointer.svg"), auto;
    }
  }

  .cryptoListHeader {
    width: fit-content;
    margin-left: 15px;
  }

  .link {
    text-decoration: none;
    color: #6e07f3;
    font-weight: bolder;
    cursor: url("../../assets/images/pointer.svg"), auto;
  }

  .quizPlatform,
  .cryptoList,
  .minesweeper {
    width: fit-content;
    margin: 0 auto;
    padding: 30px 0 50px 0;
  }

  .quizPlatformImg {
    border-radius: 5%;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
  }

  .minesweeperImg {
    border-radius: 5%;
    margin: 0 auto;
  }

  .projectLink {
    margin-right: 5px;
  }
}

@media (max-width: 900px) {
  .cryptoListImg {
    max-width: 100%;
  }

  .quizPlatformImg,
  .minesweeperImg {
    max-width: 100%;
  }

  .line {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .cryptoListImg {
    max-width: 60%;
  }

  .line {
    width: 75%;
  }

  .quizPlatformImg,
  .minesweeperImg {
    max-width: 60%;
  }

  .flexLink {
    &:hover {
      text-decoration: underline;
      color: #6e07f3;
    }
  }

  .link {
    &:hover {
      text-decoration: underline;
    }
  }
}
